* {
    box-sizing: border-box;
}

body {
    
    /*height: 2000px;
    width: 800px;*/
    margin: 0;
    padding: 0;
}

header {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
}

nav a{
    padding: 14px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: blueviolet;
}

section {
    flex: 70%;
    background-color: darksalmon;
}

aside {
    flex: 30%;
    background-color: darkkhaki;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: greenyellow;
}

.redessociales {
    margin-left: 3em;
    margin-bottom: 3em;
    width: 70px;
    height: 70px;
}

.imagenes {
    
    margin: 2em;
    width: 150px;
    height: 150px;
}

@media screen and ( max-width: 768px ) {
    nav, .row {
        text-align: center;
        flex-direction: column;
    }
    aside {
        flex-direction: row;
    }
}

.imgProductos {
    padding: 5px;
    height: 100px;
    width: 100px;
}


p {
    text-align: justify;
    padding: 0 1em 0 1em;
    font-size: 20px;
}

.row section div {
    justify-content: center;
    align-items: center;
}

.row section div div {
    align-items: center;
}

.row aside div {
    justify-content: center;
    align-items: center;
}

.centrarTextoImagenes {
    text-align: center;
}

#contenedor-formulario h3{
    text-align: center;
    font-size: 2em;
}


#contenedor-formulario{
    margin-top: 5em;
}

#formulario {
    background-color: khaki;
    width: min( 30em, 100% );
    margin: 1em auto;
    border-radius: .8em;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#formulario fieldset {
    border: none;
}

#formulario legend {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

.campos {
    margin: 1em 2em 0 2em;
}

.campos textarea{
    width: 100%;
    height: 10em;
    resize: vertical;
    border: none;
    border-radius: .3em;    
}

.input {
    height: 2em;
    width: 100%;
    border: none;
    border-radius: .3em;
}

.campo label {
    font-size: 1.2em;
    font-weight: bold;
}

.boton {
    background-color: rgb(40, 162, 233);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
}

.boton:hover {
    background-color: deeppink;
    cursor: pointer;
    color: black;
}

.botones {
    text-align: end;
    margin-right: 2em;
}
 